[ req ]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn
days = 12
[ dn ]
CN = nuvla
O = sixsq
[ v3_ext ]
authorityKeyIdentifier=keyid,issuer:always
basicConstraints=CA:FALSE
keyUsage=keyEncipherment,dataEncipherment
extendedKeyUsage=serverAuth,clientAuth
